[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"
matplotlib = "*"

[packages]
scikit-image = "*"
pandas = "*"
torchvision = "*"
tensorflow = "*"
keras = "*"
seaborn = "*"
fairlearn = "*"
dspipes = {git = "https://github.com/DS3Lab/datascope-pipelines.git"}
datascope = {editable = true, path = "."}

[requires]
python_version = "3.8"
