# Development dependencies
mypy >= 0.9
flake8 >= 4.0
pytest >= 6.2
pytest-benchmark >= 3.4
pytest-cov >= 3.0
black
types-PyYAML >= 6.0
cython >= 0.29
jupyterlab >= 3.3
twine >= 4.0
build >= 0.9
numpy >= 1.21
wheel